html {
    background-color: black;
}

#explosion {
    background-image: url("../images/hV3.gif");
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: none;
}
/*
article{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

h1 {
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:brown;
}

.box {
    border: 5px solid #909696;
    border-radius: 10px;
    margin: 0 auto;
    align-items: center;
    background-color: #e6f3f3;
    width: 400px;
    height: 500px;
    padding: 10px;
    /*box-shadow:#1ad3a4 10px 15px 20px;*/
    text-align: center;

}

form {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#displayTime {
    font-family: "Major Mono Display",  monospace;
    font-size: 26px;
    color: white;
    background-color: black;
    padding: 20px;
    height: 25px;

}

.btn {

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

}

#launchButton {
    background-image: url("../images/redButton_150.png");
    background-repeat: no-repeat;
    border: none;
    width: 150px;
    height: 150px;
    font-size: 2em;
    cursor: pointer;
}

#Blastoff {
    text-align: center;
    font-size: 400%;
    color: red;
    font-weight: bold;
}